@charset 'uft-8';
/* main */



/* 공용 */
.wrap{
    width: 1165px;
    margin:0 auto;
}

.contents{
    width: 1165px;
    margin:0 auto;
    color : #33489b;
    text-align: center;
}

.contents .par{
    margin: 40px 0;
    font-size:16px;
    line-height : 190%;
}

/* 형광펜 효과 */

.underline-container{
    width:fit-content;
    display: inline-block;
    transform: translate(0, -10px);
}

h2 .underline-container{
    width:fit-content;
    display: inline-block;
    transform: translate(0, -17px);
}

.underline-txt{
    display: block;
    transform: translate(0, 10px);
}

h2 .underline-txt{
    transform: translate(0, 17px);
}

.underline{
    display: block;
    width: 100%;
    padding:0 10px;
    height: 16px;
    background-color: #c4f580;
    margin-left: -10px;
}

h2 .underline{
    padding:0 5px;
    margin-left: -5px;
}

.underline-bottom{
    display: block;
    transform: translateY(-10px);
}

h2 .underline-bottom{
    transform: translateY(-17px);
}

/* button */

.button{
    width:200px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}

/* main */

h1{
    text-align: center;
}

.mainlink-wrap{
    text-align: center;
}
.mainlink{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    position: relative;
    margin:0 15px;
    font-weight: 500;
}

.mainlink.blue{
    background-color: #493fd3;
    color: #c4f580;
}

.mainlink.green{
    background-color: #c4f580;
    color:#493fd3;
}

.mainlink-text{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    width:100%;
}

.mainlink .button {
    margin-top: 55px;
    transition: all 1s;
    cursor: pointer;
}

.mainlink.blue .button{
    border : 2px solid #c4f580;
}

.mainlink.blue .button:hover{
    background-color: #c4f580;
    color: #493fd3;
}

.mainlink.green .button{
    border : 2px solid #493fd3;
}

.mainlink.green .button:hover{
    background-color: #493fd3;
    color: #c4f580;
}

.slider-container{
    position: relative;
    background-color:#493fd3;
    margin-top:440px;
    height: 1200px;
}
.slider-container:before{
    content:'';
    display: block;
    position: absolute;
    top:-175px;
    width:100%;
    height:180px;
    background-image: url(../assets/background.png);
    background-size: cover;
    background-position: center top;
    background-repeat:no-repeat;
  }

/* vision */


/* history */
.history .contents {
    position: relative;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    border-right:dashed 1.4px #ccc;
    top: -50px;
    bottom: 0;
    left: 50%;
    margin-top:50px;
    margin-left: -1px;
}
  
.timeline-container{
    position: relative;
    padding: 10px 40px;
    box-sizing: border-box;
    width: 50%;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -13px;
    background-color: #493fd3;
    border: 3px solid #c2c2c2;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
}

.right::after {
    left: -13px;
}

.timeline-container.right{
    text-align: left;
    left:50%;
}

.timeline-container.left{
    text-align: right;
    right:0;
}

.timeline-content{
    padding:10px 20px;
}

.timeline li::before{
    content: ' ● ';
    font-size: 8px;
    color: #493fd3;
}

.timeline li.clear-before::before{
    content: ' ';
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 21px;
    }

    .timeline-container.left {
        right: 0% ;
        text-align: left
    } 

    /* Make sure all circles are at the same spot */
    .timeline-container.left::after, .timeline-container.right::after {
        left: 5px;
    }
    
    /* Make all right containers behave like the left ones */
    .timeline-container.right {
        left: 0%;
    }
}

/* school */


.school-menu{
    display: flex;
    border-bottom: 2px solid #3642c6;
    margin-top:100px;
}

.school-menu li{
    width:25%;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.school-menu li:first-child{
    background-color: #3642c6;
    color:#c4f580;
}

.school-title img{
    width:100%;
}

.school-content-underline{
    margin-top: 70px;
}

/* recruit */

.contents-header{
    line-height : 250%;
}

.par{
    font-size:16px;
    line-height : 190%;
}

.recruit-item-container{
    display: flex;
    flex-wrap: wrap;
    margin-top:50px;
    padding-bottom:70px;
    border-bottom-color: #a8a8a8;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
}

.recruit-item{
    flex:50%;
    height:390px;
    padding:30px 0px;
}

.recruit-item .icon{
    width:200px;
    height:200px;
    margin:auto;
    /* 이미지를 너비,높이 채우기, 가운데두는 코드작성 */
}

.recruit-item .num{
    font-weight: bolder;
    color : #c4f580;
    padding-top:30px;
    padding-right: 20px;
}

.recruit-item .txt{
    font-weight:bolder;
    padding-top:60px;
}

.recruit-item-detail{
    line-height : 190%;
    color:gray;
    /* 중간에 있는 글씨 색 바꾸기 */
    padding-top:35px;
    height: 80px;
}

.department-container{
    display: flex;
    justify-content: space-between;
    margin-top:120px;
    margin-bottom:100px;
}

.department{
    width:33%;
    margin-right:50px;
}
/* .department:first-child{
    margin-left: 0;
} */
.department:last-child{
    margin-right: 0;
}
.department .txt-container{
    background-image: url(../assets/circle.png);
    padding-top: 10px;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: right top;
    display: inline-block;
}
.department .txt{
    margin-bottom: 45px;
    font-weight:bolder;
    
}

.department-detail{
    padding-bottom: 30px;
    /* border-bottom-color: #c4f580;
    border-bottom-style: solid;
    border-bottom-width: 2px; */
    /* 중앙만 표시되도록 해야함 */
    height: 120px;
    line-height : 190%;
}

.section-line{
    display: inline-block;
    width:35px;
    height: 2px;
    background-color: #c4f580;
}

.department-content{
    margin:30px 0;
    line-height : 190%;
}

/* footer */

footer{
    width: 100%;
    position:absolute;
    bottom:0;
    left:0;
}

.footer-contents{
    width:100%;
    /* padding-top:10vw; */
    position:absolute;
    left:0;
    bottom:13%;
    text-align: center;
    vertical-align: bottom;
    /* background-color: #3e3a39; */
    
}

.footer-contents p {
    margin-top:30px;
    font-size: 15px;
    color:white;
}

.footer-background{
  width:100%;
  vertical-align: top;
}

.footer-logo{
  width:240px;
  
}

.copyright{
  padding-left: 10px;
  padding-right: 10px;
}

/* 반응형 */

@media all and (max-width:1600px) {
    .contents{
        width: 900px;
        margin:0 auto;
    }
} 

@media all and (max-width:1024px) {

} 