/* schoolTitle */

.school-title{
    text-align: center;
    margin-top:70px;
}

.school-title h3{
    margin-top:14px;
    margin-bottom:40px;
}

.school-title p{
    font-weight: 900;
}
/* school content */

.school-content{
    text-align: center;
}

.school-content .par{
    margin: 40px 0;
}

.school-content .line{
    width:95%;
    display: inline-block;
    height: 1.5px;
    background-color: #cccccc;
}

